<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required only if your app needs to access images or photos
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Required only if your app needs to access videos
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Required only if your app needs to access audio files
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShadowCat"
        tools:targetApi="31">
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.ShadowCat" />
        <activity
            android:name=".activity.session.view.SessionViewActivity"
            android:exported="false"
            android:label="@string/title_activity_session_view"
            android:theme="@style/Theme.ShadowCat"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.session.creator.SessionCreatorActivity"
            android:exported="false"
            android:label="@string/title_activity_session_creator"
            android:theme="@style/Theme.ShadowCat" />
        <activity
            android:name=".activity.start.StartingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ShadowCat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ShadowCat" />
        <activity
            android:name=".activity.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ShadowCat" />
    </application>

</manifest>